.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    flex-direction: column;
}
.search-bar input {
    width: 50%;
    height: 1.6rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar input:focus {
    outline: none;
}
.search-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #088395;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    transform: scale(1.1);
}
